.chatWindow {
  width: 100%;
  max-width: 1200px;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 12px;
  position: relative;
  min-height: 350px;
  overflow-y: scroll;
}

.messageList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 2;
}

.messageItem {
  margin-bottom: 0;
  padding: 12px;
  border-radius: 5px;
  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.userMessage {
  background-color: rgba(164, 195, 250, 0.52);
  text-align: right;
}

.botMessage {
  background-color: #e6e6e6a2;
  text-align: left;
}

.sender {
  font-weight: bold;
  text-transform: uppercase;
  color: #696161;
  font-size: 12px;
}

.content {
  font-size: 14px;
  margin-top: 2px;
}

.placeholder {
  width: calc(100% - 24px);
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0.4;
  z-index: 1;

  & .icon {
    margin-bottom: 10px;
  }

  & h2 {
    color: #696161;
    font-size: 32px;
    font-family: "Lolita";
    color: rgb(204, 37, 37);
  }
}
